{
	:Port => 8080,
	:daemonize => false,
	:log_level => Log::INFO,
	:log_base_dir => "./logs",
	:message_file => "./logs/webrick.messages",
	:servlets => [
		{
			:name => "wedding",
			:mountpoint => "/",
			:config => {
				:gallery_path => "servlets/wedding/gallery",
				:upload_path => "servlets/wedding/upload",
				:upload_space => 1024 * 1024 * 1024,  # 1GB
				:notification_interval => 60 * 60 * 4, # check every 4h
			}
		},
	],
}

